@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import './reset.css';
@import './variables.css';

body {
    font-family: var(--font-family);
    color: var(--color-text);
    background-color: var(--color-bg);
}

#root {
    height: 100%;
}

/* Utility classes */
.text-secondary {
    color: var(--color-text-secondary);
}

.text-center {
    text-align: center;
}

.mb-sm {
    margin-bottom: var(--spacing-sm);
}

.mb-md {
    margin-bottom: var(--spacing-md);
}

.mb-lg {
    margin-bottom: var(--spacing-lg);
}

.mt-md {
    margin-top: var(--spacing-md);
}
